<footer class="footer bg-dark pt-5">
  <div class="container">
    <div class="row pb-2" style="display: flex; justify-content: space-between; align-items: center;">
      
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Account Details</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="/account">Your account</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Your Address</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Wishlist</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Orders</a></li>
          </ul>
        </div>
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">About us</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link">DigiCart -Ecommerse </a></li>
            <li class="widget-list-item"><a class="widget-list-link">since 2023</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">Keep in Touch With</h3>
        <img src="/img/Screenshot 2023-03-22 203015.jpg" alt="">
        </div>
        <div class="widget pb-2 mb-4">
          
          
        </div>
      </div>
    </div>
  </div>
  
</footer>
<!-- Toolbar for handheld devices (Default)-->
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="account-wishlist.html"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span class="handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="shop-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">4</span></span><span class="handheld-toolbar-label">$265.00</span></a></div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="vendor/simplebar/dist/simplebar.min.js"></script>
<script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="vendor/drift-zoom/dist/Drift.min.js"></script>
<script src="vendor/lightgallery.js/dist/js/lightgallery.min.html"></script>
<script src="vendor/lg-video.js/dist/lg-video.min.html"></script>
<!-- Main theme script-->
<script src="js/theme.min.js"></script>

</body>

<!-- Mirrored from cartzilla.createx.studio/shop-single-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:00:43 GMT -->
</html>