<%-include("../users/layout/header.ejs")%>
<div class="container pb-5 mb-sm-4">
    <div class="pt-5">
      <div class="card py-3 mt-sm-3">
        <div class="card-body text-center">
          <h2 class="h4 m-0">Thank you for your order!</h2>
          <img style="width: 200px;" src="https://imgs.search.brave.com/FqoSpyRYc7JQZ4-7zKgODYyTvoJATh9jnyrNne2kHCQ/rs:fit:413:292:1/g:ce/aHR0cHM6Ly93d3cu/c3Ryb25nc3VwcG9y/dC5jby51ay93cC1j/b250ZW50L3VwbG9h/ZHMvMjAyMC8xMC90/aGFuay15b3UucG5n" alt="Order Completed">
          <p class="fs-sm mb-2">Your order has been placed and will be processed as soon as possible.</p>
          <p class="fs-sm">You will be receiving an email shortly with confirmation of your order. <u>You can now:</u></p><a class="btn btn-secondary mt-3 me-3" href="/allProducts"><i class="ci-loading me-2"></i>Go back shopping</a><a class="btn btn-primary mt-3" href="/orderHistory"><i class="ci-delivery me-2"></i>&nbsp;Order Details</a>
        </div>
      </div>
    </div>
  </div>

<%-include('../users/layout/footer.ejs')%>
